* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background-color: #26383F;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #33C16C;
  border-radius: 2.5px;
}
::placeholder {
  color: #8AB1BF;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8AB1BF;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #8AB1BF;
  opacity: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
